.loading {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #e8e7e6;
  border-top: 5px solid #f58d42;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
