.pac-container {
  width: 375px !important;
  top: 8.5% !important;
  left: 50% !important;
  transform: translateX(-50%);
  box-shadow: none;
  border: none;
}

.pac-item {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0;
}

.pac-item,
.pac-icon,
.pac-item-query {
  font-size: 1rem;
}
