@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
body.upload {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #f5ede8;

  color: black !important;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  padding: 15px !important;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  opacity: 0.5 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.1);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.swiper-pagination-bullet {
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%) !important;
  background: #f5ede8 !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.9) !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #f58d42 !important;
}
